# Dependencies
node_modules/
.pnp
.pnp.js

# Firebase Cache & Emulators
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Environment & Secrets
.env
.env.local
.env.*.local
serviceAccountKey.json
service-account*.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS Junk
.DS_Store
Thumbs.db
desktop.ini
